
 * page #2
 * 表盘动画样式
 */
/* 表盘背景旋转动画 */
.play .play_bg{
	-webkit-animation: playBg 8s ease 0s 1 normal;
		 -o-animation: playBg 8s ease 0s 1 normal;
			animation: playBg 8s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes playBg
{
	0%{
				transform:rotate(0deg);
		    -ms-transform:rotate(0deg); 	/* IE 9 */
		   -moz-transform:rotate(0deg); 	/* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(0deg); 	/* Opera */
	}
	30%{
				transform:rotate(180deg);
		    -ms-transform:rotate(180deg); 	/* IE 15 */
		   -moz-transform:rotate(180deg); 	/* Firefox */
		-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(180deg); 	/* Opera */
	}
	50%{
				transform:rotate(60deg);
		    -ms-transform:rotate(60deg); 	/* IE 9 */
		   -moz-transform:rotate(60deg); 	/* Firefox */
		-webkit-transform:rotate(60deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(60deg); 	/* Opera */
	}
	70%{
				transform:rotate(150deg);
		    -ms-transform:rotate(150deg); 	/* IE 9 */
		   -moz-transform:rotate(150deg); 	/* Firefox */
		-webkit-transform:rotate(150deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(150deg); 	/* Opera */
	}
	85%{
				transform:rotate(90deg);
		    -ms-transform:rotate(90deg); 	/* IE 9 */
		   -moz-transform:rotate(90deg); 	/* Firefox */
		-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(90deg); 	/* Opera */
	}
	100%{
				transform:rotate(120deg);
		    -ms-transform:rotate(120deg); 	/* IE 9 */
		   -moz-transform:rotate(120deg); 	/* Firefox */
		-webkit-transform:rotate(120deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(120deg); 	/* Opera */
	}
}

/* 表盘中心旋转动画 */
.play .play_target{
	-webkit-animation: playTarget 2s ease 0s 1 normal;
		 -o-animation: playTarget 2s ease 0s 1 normal;
			animation: playTarget 2s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes playTarget
{
	0%{}
	100%{
				transform:rotate(-270deg);
		    -ms-transform:rotate(-270deg); 	/* IE 9 */
		   -moz-transform:rotate(-270deg); 	/* Firefox */
		-webkit-transform:rotate(-270deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(-270deg); 	/* Opera */
	}
}

/* 秒针到达指定位置动画 */
.play .second_play_1{
	-webkit-animation: secondPlay1 2s ease 0s 1 normal;
		 -o-animation: secondPlay1 2s ease 0s 1 normal;
			animation: secondPlay1 2s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
/* 秒针自动播放动画 */
.play .second_play_2{
	-webkit-animation: secondPlay2 60s linear 0s infinite normal;
		 -o-animation: secondPlay2 60s linear 0s infinite normal;
			animation: secondPlay2 60s linear 0s infinite normal;
}


/* 分针到达指定位置动画 */
.play .minute_play_1{
	-webkit-animation: minutePlay1 1.5s ease 0s 1 normal;
		 -o-animation: minutePlay1 1.5s ease 0s 1 normal;
			animation: minutePlay1 1.5s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
/* 分针自动播放动画 */
.play .minute_play_2{
	-webkit-animation: minutePlay2 3600s linear 0s infinite normal;
		 -o-animation: minutePlay2 3600s linear 0s infinite normal;
			animation: minutePlay2 3600s linear 0s infinite normal;
}

/* 时针到达指定位置动画 */
.play .hour_play_1{
	-webkit-animation: hourPlay1 2.5s ease 0s 1 normal;
		 -o-animation: hourPlay1 2.5s ease 0s 1 normal;
			animation: hourPlay1 2.5s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
/* 时针自动播放动画 */
.play .hour_play_2{
	-webkit-animation: hourPlay2 43200s linear 0s infinite normal;
		 -o-animation: hourPlay2 43200s linear 0s infinite normal;
			animation: hourPlay2 43200s linear 0s infinite normal;
}
/* 表盘容器缩放 上移动画 */
.play .watch-face-container{
	-webkit-animation: watch-face-container 1.2s ease 3s 1 normal;
		 -o-animation: watch-face-container 1.2s ease 3s 1 normal;
			animation: watch-face-container 1.2s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes watch-face-container
{
	0%{}
	100%{
		top: 20vh;
    	margin-top: 5vw;
    	margin-left: 15vw;
		width: 70vw;
		height: 70vw;
    	
	}
}
/* 容器背景动画 */
.play  .page2_bg{
	-webkit-animation: page2Bg 1.3s ease 3s 1 normal;
		 -o-animation: page2Bg 1.3s ease 3s 1 normal;
			animation: page2Bg 1.3s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2Bg
{
	0%{}
	100%{
		margin-top: 20vh;
		margin-left: 10vw;
		width: 80vw;
		height: 80vw;
		border-radius: 2vw;
		box-shadow:  0px 2px 25px rgba(0,0,0,.2);
		background-color: #ffffff;
	}
}
/* 顶部背景旋转动画 */
.play .bg-rotate{
	-webkit-animation: SDRFERFE 0.8s ease 3.2s 1 normal;
		 -o-animation: SDRFERFE 0.8s ease 3.2s 1 normal;
			animation: SDRFERFE 0.8s ease 3.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes SDRFERFE
{
	0%{}
	100%{
		height: 50vh;
				transform:rotate(-8deg);
		    -ms-transform:rotate(-8deg); 	/* IE 9 */
		   -moz-transform:rotate(-8deg); 	/* Firefox */
		-webkit-transform:rotate(-8deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(-8deg); 	/* Opera */
	}
}
/* 顶部文字出现动画 */
.play .top-words-animation{
	-webkit-animation: Page2TopWordsAnimation 0.8s ease 3.2s 1 normal;
		 -o-animation: Page2TopWordsAnimation 0.8s ease 3.2s 1 normal;
			animation: Page2TopWordsAnimation 0.8s ease 3.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes Page2TopWordsAnimation
{
	0%{}
	100%{
		height: 10vh;
		line-height: 10vh;
	}
}
/* 底部文字出现动画 */
.play .page2-words1-animation{
	-webkit-animation: Page2BottomWordsAnimation 0.8s ease 3.2s 1 normal;
		 -o-animation: Page2BottomWordsAnimation 0.8s ease 3.2s 1 normal;
			animation: Page2BottomWordsAnimation 0.8s ease 3.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
.play .page2-words2-animation{
	-webkit-animation: Page2BottomWordsAnimation 0.5s ease 3.5s 1 normal;
		 -o-animation: Page2BottomWordsAnimation 0.5s ease 3.5s 1 normal;
			animation: Page2BottomWordsAnimation 0.5s ease 3.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes Page2BottomWordsAnimation
{
	0%{}
	100%{
		width: 80vw;
		margin-left: 10vw;
	}
}



































/* 
 * page #1
 * 动画样式
 */

 /* 卡片动画 */
.play .page1-card-animation{
	-webkit-animation: page1CardAnimation 2s ease 0s 1 normal;
		 -o-animation: page1CardAnimation 2s ease 0s 1 normal;
			animation: page1CardAnimation 2s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page1CardAnimation
{
	0%{
		top: 200%;
		width: 80vw;
		height: 80vw;
	}
	100%{
		top: 0;
		/*background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);*/
		background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
	}
}

/* 姓名动画样式 */
.play .page1-name-animation{
	-webkit-animation: page1NameAnimation 2s ease 1s 1 normal;
		 -o-animation: page1NameAnimation 2s ease 1s 1 normal;
			animation: page1NameAnimation 2s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page1NameAnimation
{
	0%{
		line-height: 40vh
	}
	100%{
		line-height: 10vh;
		opacity: 100;
	}
}

/* 姓名plus动画样式 */
.play .page1-name-plus-animation{
	-webkit-animation: page1NamePlusAnimation 2.2s ease 1s 1 normal;
		 -o-animation: page1NamePlusAnimation 2.2s ease 1s 1 normal;
			animation: page1NamePlusAnimation 2.2s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page1NamePlusAnimation
{
	0%{
		line-height: 40vh
	}
	100%{
		line-height: 1vh;
		opacity: 100;
	}
}

/* 白色遮罩样式 */
.play .page1-white-bg-animation{
	-webkit-animation: page1WhiteBgAnimation 1.5s ease 1s 1 normal;
		 -o-animation: page1WhiteBgAnimation 1.5s ease 1s 1 normal;
			animation: page1WhiteBgAnimation 1.5s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page1WhiteBgAnimation
{
	0%{}
	100%{
		height: 30vh;
	}
}

/* 头像动画 */
.play .page1-head-animation{
	-webkit-animation: page1HeadAnimation 3s ease 0s 1 normal;
		 -o-animation: page1HeadAnimation 3s ease 0s 1 normal;
			animation: page1HeadAnimation 3s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page1HeadAnimation
{
	0%{}
	25%{
				transform:rotate(-30deg);
		    -ms-transform:rotate(-30deg); 	/* IE 9 */
		   -moz-transform:rotate(-30deg); 	/* Firefox */
		-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(-30deg); 	/* Opera */		
	}
	50%{
				transform:rotate(30deg);
		    -ms-transform:rotate(30deg); 	/* IE 9 */
		   -moz-transform:rotate(30deg); 	/* Firefox */
		-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(30deg); 	/* Opera */		
	}
	75%{
				transform:rotate(-15deg);
		    -ms-transform:rotate(-15deg); 	/* IE 9 */
		   -moz-transform:rotate(-15deg); 	/* Firefox */
		-webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(-15deg); 	/* Opera */		
	}
	100%{
				transform:rotate(0deg);
		    -ms-transform:rotate(0deg); 	/* IE 9 */
		   -moz-transform:rotate(0deg); 	/* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(0deg); 	/* Opera */		
	}
}





































/* 
 * page #2-1
 * 动画样式
 */
 /* 当前页面title-container动画 */
.play .current-card .title-container{
	-webkit-animation: page2_1TitleContainerAnimation 4.5s ease 0s 1 normal;
		 -o-animation: page2_1TitleContainerAnimation 4.5s ease 0s 1 normal;
			animation: page2_1TitleContainerAnimation 4.5s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2_1TitleContainerAnimation
{
	0%{}
	33%{
		height: 50vh;
	}
	66%{
		height: 50vh;
	}
	100%{
		height: 0;
	}
}
 /* 下一页面title-container动画 */
.play .next-card .title-container{
	-webkit-animation: page2_1TitleContainerAnimation_2 1.5s ease 3s 1 normal;
		 -o-animation: page2_1TitleContainerAnimation_2 1.5s ease 3s 1 normal;
			animation: page2_1TitleContainerAnimation_2 1.5s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2_1TitleContainerAnimation_2
{
	0%{}
	100%{
		height: 50vh;
	}
}

/* 当前页content动画 */
.play .current-card .content{
	-webkit-animation: page2_1CurrentCardContent 1.2s ease 0.5s 1 normal;
		 -o-animation: page2_1CurrentCardContent 1.2s ease 0.5s 1 normal;
			animation: page2_1CurrentCardContent 1.2s ease 0.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2_1CurrentCardContent
{
	0%{}
	100%{
		opacity: 100;
		
	}
}
/* 下一页content动画 */
.play .next-card .content{
	-webkit-animation: page2_1CurrentCardContent_2 2s ease 4s 1 normal;
		 -o-animation: page2_1CurrentCardContent_2 2s ease 4s 1 normal;
			animation: page2_1CurrentCardContent_2 2s ease 4s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2_1CurrentCardContent_2
{
	0%{}
	100%{
		opacity: 100;
	}
}
/* 当前页content-item动画 */
.play .current-card .content-item{
	-webkit-animation: page2_1CurrentCardContentItem 1s ease 0.6s 1 normal;
		 -o-animation: page2_1CurrentCardContentItem 1s ease 0.6s 1 normal;
			animation: page2_1CurrentCardContentItem 1s ease 0.6s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2_1CurrentCardContentItem
{
	0%{}
	100%{
		opacity: 100;
		line-height: 6vh;
	}

}
/* 下一页content-item动画 */
.play .next-card .content-item{
	-webkit-animation: page2_1CurrentCardContentItem_2 1.5s ease 4.2s 1 normal;
		 -o-animation: page2_1CurrentCardContentItem_2 1.5s ease 4.2s 1 normal;
			animation: page2_1CurrentCardContentItem_2 1.5s ease 4.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes page2_1CurrentCardContentItem_2
{
	0%{}
	100%{
		opacity: 100;
		line-height: 6vh;
	}

}


/* 上一页面 card 向左移动 动画 */
.play .last-card{
	-webkit-animation: page2_1LastCard 1.5s ease 3s 1 normal;
		 -o-animation: page2_1LastCard 1.5s ease 3s 1 normal;
			animation: page2_1LastCard 1.5s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page2_1LastCard{
	0%{}
	100%{
		
		margin-left: -80vw;
	}
}
/* 当前页面 card 向左移动 动画 */
.play .current-card{
	-webkit-animation: page2_1CurrentCard 1.5s ease 3s 1 normal;
		 -o-animation: page2_1CurrentCard 1.5s ease 3s 1 normal;
			animation: page2_1CurrentCard 1.5s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page2_1CurrentCard{
	0%{}
	100%{
		width: 60vw;
		height: 60vh;
		margin-top: 20vh;
		margin-left: -50vw;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	}
}
/* 下一页面 card 向左移动 动画 */
.play .next-card{
	-webkit-animation: page2_1NextCard 1.5s ease 3s 1 normal;
		 -o-animation: page2_1NextCard 1.5s ease 3s 1 normal;
			animation: page2_1NextCard 1.5s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page2_1NextCard{
	0%{}
	100%{
		width: 70vw;
		height: 70vh;
		margin-left: 15vw;
		margin-top: 15vh;
		box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
		border-radius: 1vw;
	}
}
/* 下下一页面 card 向左移动 动画 */
.play .next-next-card{
	-webkit-animation: page2_1NextNextCard 1.5s ease 3s 1 normal;
		 -o-animation: page2_1NextNextCard 1.5s ease 3s 1 normal;
			animation: page2_1NextNextCard 1.5s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page2_1NextNextCard{
	0%{}
	100%{
		margin-left: 90vw;
	}
}











































/*
 * page #end
 *
*/
/* 输入框提示文本上升动画 */
.placeholderUp{
	-webkit-animation: placeholderUp 0.3s ease 0s 1 normal;
		 -o-animation: placeholderUp 0.3s ease 0s 1 normal;
			animation: placeholderUp 0.3s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 			 animation-fill-mode : forwards;
}
@keyframes placeholderUp{
	0%{
		bottom: 0vh;
		height: 5vh;
		line-height: 5vh;
		font-size: 2.5rem;
	}
	100%{
		bottom: 5vh;
		height: 4vh;
		line-height: 4vh;
		font-size: 2rem;
	}
}
/* 输入框提示文本下降动画 */
.placeholderDown{
	-webkit-animation: placeholderDown 0.3s ease 0s 1 normal;
		 -o-animation: placeholderDown 0.3s ease 0s 1 normal;
			animation: placeholderDown 0.3s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes placeholderDown{
	0%{
		bottom: 5vh;
		height: 4vh;
		line-height: 4vh;
		font-size: 2rem;
	}
	100%{
		bottom: 0vh;
		height: 5vh;
		line-height: 5vh;
		font-size: 2.5rem;
	}
}
.play .page-end-bg-up{
	-webkit-animation: pageEndBgUp 0.8s ease 0s 1 normal;
		 -o-animation: pageEndBgUp 0.8s ease 0s 1 normal;
			animation: pageEndBgUp 0.8s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes pageEndBgUp{
	0%{}
	100%{
		top: 0;
	}
}
.play .page-end-bg-down{
	-webkit-animation: pageEndBgDown 1s ease 0.2s 1 normal;
		 -o-animation: pageEndBgDown 1s ease 0.2s 1 normal;
			animation: pageEndBgDown 1s ease 0.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes pageEndBgDown{
	0%{}
	100%{
		top: 40vh;
	}
}

.play .page-end-card{
	-webkit-animation: pageEndCard 1s ease 0.2s 1 normal;
		 -o-animation: pageEndCard 1s ease 0.2s 1 normal;
			animation: pageEndCard 1s ease 0.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}

@keyframes pageEndCard{
	0%{}
	100%{
		top: 15vh;
	}
}

.play .page-end-instruction-words{
	-webkit-animation: pageEndInstructionWords 1s ease 0.2s 1 normal;
		 -o-animation: pageEndInstructionWords 1s ease 0.2s 1 normal;
			animation: pageEndInstructionWords 1s ease 0.2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes pageEndInstructionWords{
	0%{}
	100%{
		height: 15vh;
	}
}































/*
 *page work url
*/
.play #play-works{
	-webkit-animation: playWorks 8s ease 0.8s 1 normal;
		 -o-animation: playWorks 8s ease 0.8s 1 normal;
			animation: playWorks 8s ease 0.8s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes playWorks{
	0%{
		top: 0;
	}
	100%{
		top: -300%;	
	}
}

.play .s8{
	-webkit-animation: playS8 1s ease 3s 1 normal;
		 -o-animation: playS8 1s ease 3s 1 normal;
			animation: playS8 1s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes playS8{
	0%{}
	100%{
		height: 60vh;
		margin: 20vh auto;
		width: 28.307vh;
	}
}
/* page #4 指示文字动画 */
.play .page4-instrucion-words{
	-webkit-animation: page4InstructionWords 1s ease 3s 1 normal;
		 -o-animation: page4InstructionWords 1s ease 3s 1 normal;
			animation: page4InstructionWords 1s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page4InstructionWords{
	0%{}
	100%{
		top: 0vh
	}
}
/* 查看全部作品字样动画 */
.play .vist-works-href{
	-webkit-animation: vistWorkHref 1s ease 3s 1 normal;
		 -o-animation: vistWorkHref 1s ease 3s 1 normal;
			animation: vistWorkHref 1s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes vistWorkHref{
	0%{}
	100%{
		bottom: 5vh;
	}
}




















/*
* UI / UX
*/
.play .ui-page-title{
	-webkit-animation: uiPageTitleAnimation 1.5s ease 1s 1 normal;
		 -o-animation: uiPageTitleAnimation 1.5s ease 1s 1 normal;
			animation: uiPageTitleAnimation 1.5s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes uiPageTitleAnimation{
	0%{
		width: 100vw;
		height: 100vh;
		line-height: 100vh;
		font-weight: 7rem;
	}
	100%{
		width: 100vw;
		height: 15vh;
		line-height: 15vh;
		font-size: 5rem;
	}
}
.play .bottom-words{
	-webkit-animation: uiPageBottomWordsAnimation 1s ease 3s 1 normal;
		 -o-animation: uiPageBottomWordsAnimation 1s ease 3s 1 normal;
			animation: uiPageBottomWordsAnimation 1s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes uiPageBottomWordsAnimation{
	0%{}
	100%{
		bottom: 0;
	}
}
.play .phone-container{
	-webkit-animation: phoneContainer 4s ease 1s 1 normal;
		 -o-animation: phoneContainer 4s ease 1s 1 normal;
			animation: phoneContainer 4s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes phoneContainer{
	0%{}
	40%{
		top: 15vh;
		width: 40vh;
		height: 80vh;
		margin-left: -20vh;
		top: 15vh;
		border-radius: 7vh;
	}
	60%{
		top: 15vh;
		width: 40vh;
		height: 80vh;
		margin-left: -20vh;
		top: 15vh;
		border-radius: 7vh;
	}
	100%{
		width: 35vh;
		height: 70vh;
		margin-left: -17.5vh;
		top: 15vh;
		border-radius: 7vh;
	}
}
.play .lock-wallpaper{
	-webkit-animation: lockWallpaper 1.6s ease 2s 1 normal;
		 -o-animation: lockWallpaper 1.6s ease 2s 1 normal;
			animation: lockWallpaper 1.6s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes lockWallpaper{
	0%{}
	100%{
		top: -150%;
	}
}

.play #lock{
	-webkit-animation: lockScreenAnimation 1.6s ease 2s 1 normal;
		 -o-animation: lockScreenAnimation 1.6s ease 2s 1 normal;
			animation: lockScreenAnimation 1.6s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes lockScreenAnimation{
	0%{}
	100%{
		filter: blur(40px);
	}
}
.play .dock{
	-webkit-animation: dockAnimation 0.8s ease 2.5s 1 normal;
		 -o-animation: dockAnimation 0.8s ease 2.5s 1 normal;
			animation: dockAnimation 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes dockAnimation{
	0%{
		bottom: -15%;
	}
	100%{
		bottom: 1.5%;
	}
}

.play .ii1{
	-webkit-animation: ii1 0.8s ease 2.5s 1 normal;
		 -o-animation: ii1 0.8s ease 2.5s 1 normal;
			animation: ii1 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii1{
	0%{
		left: -40%;
		top:-40%;
	}
	100%{
		left: 5.935%;
		top: 8.051%;
	}
}

.play .ii2{
	-webkit-animation: ii2 0.6s ease 2.5s 1 normal;
		 -o-animation: ii2 0.6s ease 2.5s 1 normal;
			animation: ii2 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii2{
	0%{
		left: -20%;
		top:-40%;
	}
	100%{
		left: 29.576%;
		top: 8.051%;
	}
}

.play .ii3{
	-webkit-animation: ii3 0.6s ease 2.5s 1 normal;
		 -o-animation: ii3 0.6s ease 2.5s 1 normal;
			animation: ii3 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii3{
	0%{
		left: 100%;
		top:-40%;
	}
	100%{
		left: 53.167%;
		top: 8.051%;
	}
}

.play .ii4{
	-webkit-animation: ii4 0.8s ease 2.5s 1 normal;
		 -o-animation: ii4 0.8s ease 2.5s 1 normal;
			animation: ii4 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii4{
	0%{
		left: 120%;
		top:-40%;
	}
	100%{
		left: 76.958%;
		top: 8.051%;
	}
}

.play .ii5{
	-webkit-animation: ii5 0.8s ease 2.5s 1 normal;
		 -o-animation: ii5 0.8s ease 2.5s 1 normal;
			animation: ii5 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii5{
	0%{
		left: -40%;
		top:-20%;
	}
	100%{
		left: 5.935%;
		top: 20.764%;
	}
}

.play .ii6{
	-webkit-animation: ii6 0.6s ease 2.5s 1 normal;
		 -o-animation: ii6 0.6s ease 2.5s 1 normal;
			animation: ii6 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii6{
	0%{
		left: -20%;
		top:-20%;
	}
	100%{
		left: 29.576%;
		top: 20.764%;
	}
}

.play .ii7{
	-webkit-animation: ii7 0.6s ease 2.5s 1 normal;
		 -o-animation: ii7 0.6s ease 2.5s 1 normal;
			animation: ii7 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii7{
	0%{
		left: 100%;
		top:-20%;
	}
	100%{
		left: 53.167%;
		top: 20.764%;
	}
}

.play .ii8{
	-webkit-animation: ii8 0.8s ease 2.5s 1 normal;
		 -o-animation: ii8 0.8s ease 2.5s 1 normal;
			animation: ii8 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii8{
	0%{
		left: 120%;
		top:-20%;
	}
	100%{
		left: 76.958%;
		top: 20.764%;
	}
}

.play .ii9{
	-webkit-animation: ii9 0.8s ease 2.5s 1 normal;
		 -o-animation: ii9 0.8s ease 2.5s 1 normal;
			animation: ii9 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii9{
	0%{
		left: -40%;
		top:60%;
	}
	100%{
		left: 5.935%;
		top: 33.364%;
	}
}

.play .ii10{
	-webkit-animation: ii10 0.6s ease 2.5s 1 normal;
		 -o-animation: ii10 0.6s ease 2.5s 1 normal;
			animation: ii10 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii10{
	0%{
		left: -20%;
		top:60%;
	}
	100%{
		left: 29.576%;
		top: 33.364%;
	}
}

.play .ii11{
	-webkit-animation: ii11 0.6s ease 2.5s 1 normal;
		 -o-animation: ii11 0.6s ease 2.5s 1 normal;
			animation: ii11 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii11{
	0%{
		left: 100%;
		top:60%;
	}
	100%{
		left: 53.167%;
		top: 33.364%;
	}
}

.play .ii12{
	-webkit-animation: ii12 0.8s ease 2.5s 1 normal;
		 -o-animation: ii12 0.8s ease 2.5s 1 normal;
			animation: ii12 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii12{
	0%{
		left: 120%;
		top:60%;
	}
	100%{
		left: 76.958%;
		top: 33.364%;
	}
}

.play .ii13{
	-webkit-animation: ii13 0.8s ease 2.5s 1 normal;
		 -o-animation: ii13 0.8s ease 2.5s 1 normal;
			animation: ii13 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii13{
	0%{
		left: -40%;
		top:80%;
	}
	100%{
		left: 5.935%;
		top: 46.077%;
	}
}

.play .ii14{
	-webkit-animation: ii14 0.6s ease 2.5s 1 normal;
		 -o-animation: ii14 0.6s ease 2.5s 1 normal;
			animation: ii14 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii14{
	0%{
		left: -20%;
		top:80%;
	}
	100%{
		left: 29.576%;
		top: 46.077%;
	}
}

.play .ii15{
	-webkit-animation: ii15 0.6s ease 2.5s 1 normal;
		 -o-animation: ii15 0.6s ease 2.5s 1 normal;
			animation: ii15 0.6s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii15{
	0%{
		left: 100%;
		top:80%;
	}
	100%{
		left: 53.167%;
		top: 46.077%;
	}
}

.play .ii16{
	-webkit-animation: ii16 0.8s ease 2.5s 1 normal;
		 -o-animation: ii16 0.8s ease 2.5s 1 normal;
			animation: ii16 0.8s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ii16{
	0%{
		left: 120%;
		top:80%;
	}
	100%{
		left: 76.958%;
		top: 46.077%;
	}
}



















/*
* game page
*/
.play .game-title{
	-webkit-animation: gameTitle 7s ease 0.5s 1 normal;
		 -o-animation: gameTitle 7s ease 0.5s 1 normal;
			animation: gameTitle 7s ease 0.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes gameTitle{
	0%{}
	16%{
		height: 10vh;
		line-height: 10vh;
		font-size: 4rem;
		color: #000000;
	}
	90%{
		height: 10vh;
		line-height: 10vh;
		font-size: 4rem;
		color: #000000;
	}
	100%{
		height: 10vh;
		line-height: 10vh;
		font-size: 4rem;
		color: #ffffff;
	}
}
.play .horizen-bg{
	-webkit-animation: horizenBg 1.5s ease 6.5s 1 normal;
		 -o-animation: horizenBg 1.5s ease 6.5s 1 normal;
			animation: horizenBg 1.5s ease 6.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes horizenBg{
	0%{}
	100%{
		top: 0;
	}
}

.play .ipad-container{
	-webkit-animation: ipadContainer 6s ease 0.5s 1 normal;
		 -o-animation: ipadContainer 6s ease 0.5s 1 normal;
			animation: ipadContainer 6s ease 0.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes ipadContainer{
	0%{}
	25%{
		top: 50vh;
		left: 10vw;
	}
	75%{
		top: 50vh;
		left: 10vw;
	}
	100%{
		top: 50vh;
		left: -100vw;
	}
}
.play #ipad-store{
	-webkit-animation: ipadStore 0.8s ease 1.5s 1 normal;
		 -o-animation: ipadStore 0.8s ease 1.5s 1 normal;
			animation: ipadStore 0.8s ease 1.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ipadStore{
	0%{}
	100%{
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
		z-index: 12;
	}
}

.play #ipad-home{
	-webkit-animation: ipadhome 0.8s ease 1.5s 1 normal;
		 -o-animation: ipadhome 0.8s ease 1.5s 1 normal;
			animation: ipadhome 0.8s ease 1.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes ipadhome{
	0%{}
	100%{
		left: -20%;
		top: -20%;
		width: 140%;
		height: 140%;
	}
}

.play .surface-container{
	-webkit-animation: surfaceContainer 3s ease 5s 1 normal;
		 -o-animation: surfaceContainer 3s ease 5s 1 normal;
			animation: surfaceContainer 3s ease 5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes surfaceContainer{
	0%{}
	50%{
		left: 0vw;
		bottom: 50vh;
		margin-bottom: -23.5vw;
	}
	100%{
		left: 0vw;
		bottom: 0;
		margin-bottom: 0;
	}
}



































/*

 film page
 
 */
 /* 漫威背景放大 */
.play .marvel-container{
	-webkit-animation: marvelContainer 1s ease 2s 1 normal;
		 -o-animation: marvelContainer 1s ease 2s 1 normal;
			animation: marvelContainer 1s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes marvelContainer{
	0%{}
	100%{
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		margin-top: 0;
	}
}
/* films左移动画 */
.play .film-title{
	-webkit-animation: filmTitle 1s ease 0.5s 1 normal;
		 -o-animation: filmTitle 1s ease 0.5s 1 normal;
			animation: filmTitle 1s ease 0.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmTitle{
	0%{}
	100%{
		left: -100%;
	}
}
/* marvel logo 左移动画*/
.play  .marvel-logo-container img{
	-webkit-animation: filmMarvelLogo 1s ease 0.5s 1 normal;
		 -o-animation: filmMarvelLogo 1s ease 0.5s 1 normal;
			animation: filmMarvelLogo 1s ease 0.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmMarvelLogo{
	0%{}
	100%{
		left: 0%;
	}
}
/* marvel logo 上移动画 */
.play .marvel-logo-container{
	-webkit-animation: marvelLogo 1s ease 3s 1 normal;
		 -o-animation: marvelLogo 1s ease 3s 1 normal;
			animation: marvelLogo 1s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes marvelLogo{
	0%{}
	100%{
		top: 15vw;
		margin-top: 0;
	}
}

.play .film-items{
	-webkit-animation: filmItems 1s ease 3s 1 normal;
		 -o-animation: filmItems 1s ease 3s 1 normal;
			animation: filmItems 1s ease 3s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmItems{
	0%{}
	100%{
		top: 45vw;
	}
}

/* 电影轮播动画类 */
.film-a-right{
	-webkit-animation: filmAright 1s ease 0s 1 normal;
		 -o-animation: filmAright 1s ease 0s 1 normal;
			animation: filmAright 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmAright{
	0%{
		left: -160vw;
	}
	100%{
		left: -75vw;
	}
}
.film-b-right{
	-webkit-animation: filmBright 1s ease 0s 1 normal;
		 -o-animation: filmBright 1s ease 0s 1 normal;
			animation: filmBright 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmBright{
	0%{
		left: -75vw;
	}
	100%{
		left: 10vw;
	}
}
.film-c-right{
	-webkit-animation: filmCright 1s ease 0s 1 normal;
		 -o-animation: filmCright 1s ease 0s 1 normal;
			animation: filmCright 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmCright{
	0%{
		left: 10vw;
	}
	100%{
		left: 95vw;
	}
}
.film-d-right{
	-webkit-animation: filmDright 1s ease 0s 1 normal;
		 -o-animation: filmDright 1s ease 0s 1 normal;
			animation: filmDright 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmDright{
	0%{
		left: 95vw;
	}
	100%{
		left: 180vw;
	}
}
.film-b-left{
	-webkit-animation: filmBleft 1s ease 0s 1 normal;
		 -o-animation: filmBleft 1s ease 0s 1 normal;
			animation: filmBleft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmBleft{
	0%{
		left: -75vw;
	}
	100%{
		left: -160vw;
	}
}
.film-c-left{
	-webkit-animation: filmCleft 1s ease 0s 1 normal;
		 -o-animation: filmCleft 1s ease 0s 1 normal;
			animation: filmCleft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmCleft{
	0%{
		left: 10vw;
	}
	100%{
		left: -75vw;
	}
}
.film-d-left{
	-webkit-animation: filmDleft 1s ease 0s 1 normal;
		 -o-animation: filmDleft 1s ease 0s 1 normal;
			animation: filmDleft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmDleft{
	0%{
		left: 95vw;
	}
	100%{
		left: 10vw;
	}
}
.film-e-left{
	-webkit-animation: filmEleft 1s ease 0s 1 normal;
		 -o-animation: filmEleft 1s ease 0s 1 normal;
			animation: filmEleft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes filmEleft{
	0%{
		left: 180vw;
	}
	100%{
		left: 95vw;
	}
}































/*
* music page
*/
.play .blurImg{
	-webkit-animation: blurImg 1s ease 1s 1 normal;
		 -o-animation: blurImg 1s ease 1s 1 normal;
			animation: blurImg 1s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes blurImg{
	0%{}
	100%{
		filter: blur(20px);
	}
}
.play .s8-container>.screen>.playing{
	-webkit-animation: playingOut 1s ease 1s 1 normal;
		 -o-animation: playingOut 1s ease 1s 1 normal;
			animation: playingOut 1s ease 1s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes playingOut{
	0%{}
	100%{
		bottom: -100%;
	}
}



.play .flatBg{
	-webkit-animation: flatBg 1s ease 2s 1 normal;
		 -o-animation: flatBg 1s ease 2s 1 normal;
			animation: flatBg 1s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes flatBg{
	0%{}
	100%{
		top: -20vw;
	}
}
.play .main-card{
	-webkit-animation: mainCard 1s ease 2s 1 normal;
		 -o-animation: mainCard 1s ease 2s 1 normal;
			animation: mainCard 1s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes mainCard{
	0%{}
	100%{
		top: 9vw;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}
.play .page-title{
	-webkit-animation: musicPageTitle 1.2s ease 2s 1 normal;
		 -o-animation: musicPageTitle 1.2s ease 2s 1 normal;
			animation: musicPageTitle 1.2s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes musicPageTitle{
	0%{}
	100%{
		top: 0vw;
		background-color: rgba(255,255,255,1);
		width: 200%;
		margin-left: -50%;
		box-shadow: 0px 1px 3px rgba(0,0,0,.1);
	}
}
.play .page-title .title{
	-webkit-animation: musicPageTitleText 1.2s ease 2s 1 normal;
		 -o-animation: musicPageTitleText 1.2s ease 2s 1 normal;
			animation: musicPageTitleText 1.2s ease 2s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes musicPageTitleText{
	0%{}
	100%{
		color: #000000;
	}
}

.play .style-item-1{
	-webkit-animation: styleItem1 1.2s ease 2.5s 1 normal;
		 -o-animation: styleItem1 1.2s ease 2.5s 1 normal;
			animation: styleItem1 1.2s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes styleItem1{
	0%{}
	100%{
		left: -160%;
	}
}
.play .style-item-2{
	-webkit-animation: styleItem2 1.2s ease 2.5s 1 normal;
		 -o-animation: styleItem2 1.2s ease 2.5s 1 normal;
			animation: styleItem2 1.2s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes styleItem2{
	0%{}
	100%{
		left: -75%;
	}
}

.play .style-item-3{
	-webkit-animation: styleItem3 1.2s ease 2.5s 1 normal;
		 -o-animation: styleItem3 1.2s ease 2.5s 1 normal;
			animation: styleItem3 1.2s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes styleItem3{
	0%{}
	100%{
		left: 10%;
	}
}

.play .style-item-4{
	-webkit-animation: styleItem4 1.2s ease 2.5s 1 normal;
		 -o-animation: styleItem4 1.2s ease 2.5s 1 normal;
			animation: styleItem4 1.2s ease 2.5s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes styleItem4{
	0%{}
	100%{
		left: 95%;
	}
}

.play .artists{
	-webkit-animation: artists 1.2s ease 2.8s 1 normal;
		 -o-animation: artists 1.2s ease 2.8s 1 normal;
			animation: artists 1.2s ease 2.8s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes artists{
	0%{}
	100%{
		margin-left: -50%;
	}
}

.arrow-move img{
	-webkit-animation: arrowMove 0.8s linear 0s infinite alternate;
		 -o-animation: arrowMove 0.8s linear 0s infinite alternate;
			animation: arrowMove 0.8s linear 0s infinite alternate;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes arrowMove{
	0%{
		top: 35%;
	}
	100%{
		top: 65%;
	}
}
.rotateBottom{
	-webkit-animation: rotateBottom 0.5s ease 0s 1 normal;
		 -o-animation: rotateBottom 0.5s ease 0s 1 normal;
			animation: rotateBottom 0.5s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes rotateBottom
{
	0%{
				transform:rotate(0deg);
		    -ms-transform:rotate(0deg); 	/* IE 9 */
		   -moz-transform:rotate(0deg); 	/* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(0deg); 	/* Opera */
	}
	100%{
				transform:rotate(180deg);
		    -ms-transform:rotate(180deg); 	/* IE 9 */
		   -moz-transform:rotate(180deg); 	/* Firefox */
		-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(180deg); 	/* Opera */
	}
}
.rotateUp{
	-webkit-animation: rotateUp 0.5s ease 0s 1 normal;
		 -o-animation: rotateUp 0.5s ease 0s 1 normal;
			animation: rotateUp 0.5s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
			animation-fill-mode : forwards;
}
@keyframes rotateUp
{
	0%{
				transform:rotate(180deg);
		    -ms-transform:rotate(180deg); 	/* IE 9 */
		   -moz-transform:rotate(180deg); 	/* Firefox */
		-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(180deg); 	/* Opera */
	}
	100%{
				transform:rotate(0deg);
		    -ms-transform:rotate(0deg); 	/* IE 9 */
		   -moz-transform:rotate(0deg); 	/* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
  		  	 -o-transform:rotate(0deg); 	/* Opera */
	}
}