/*
 * 轮播涉及5个图片
 * 从左到右标记为A B C D E 
 * C为当前图片
 */

/* 
播放下一张动画 
*/
/* B左移 */
.b-left{
	-webkit-animation: bLeft 1s ease 0s 1 normal;
		 -o-animation: bLeft 1s ease 0s 1 normal;
			animation: bLeft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes bLeft{
	0%{
		width: 50vw;
		height: 100vw;
		left: -40vw;
		top: 55vh;
		margin-top: -50vw;
	}
	100%{
		width: 50vw;
		height: 100vw;
		left: -100vw;
		top: 55vh;
		margin-top: -50vw;
	}
}

/* C左移 缩小 */
.c-left{
	-webkit-animation: cLeft 1s ease 0s 1 normal;
		 -o-animation: cLeft 1s ease 0s 1 normal;
			animation: cLeft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes cLeft{
	0%{
		width: 60vw;
		height: 120vw;
		left: 20vw;
		top: 55vh;
		margin-top: -60vw;
	}
	100%{
		width: 50vw;
		height: 100vw;
		left: -40vw;
		top: 55vh;
		margin-top: -50vw;
	}
}

/* D左移 放大 */
.d-left{
	-webkit-animation: dLeft 1s ease 0s 1 normal;
		 -o-animation: dLeft 1s ease 0s 1 normal;
			animation: dLeft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes dLeft{
	0%{
		width: 50vw;
		height: 100vw;
		left: 90vw;
		top: 55vh;
		margin-top: -50vw;
	}
	100%{
		width: 60vw;
		height: 120vw;
		left: 20vw;
		top: 55vh;
		margin-top: -60vw;
	}
}

/* E左移 */
.e-left{
	-webkit-animation: eLeft 1s ease 0s 1 normal;
		 -o-animation: eLeft 1s ease 0s 1 normal;
			animation: eLeft 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes eLeft{
	0%{
		width: 50vw;
		height: 100vw;
		left: 150vw;
		top: 55vh;
		margin-top: -50vw;
	}
	100%{
		width: 50vw;
		height: 100vw;
		left: 90vw;
		top: 55vh;
		margin-top: -50vw;
	}
}

/* 
播放上一张动画 
*/
/* A右移 */
.a-right{
	-webkit-animation: aRight 1s ease 0s 1 normal;
		 -o-animation: aRight 1s ease 0s 1 normal;
			animation: aRight 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}@keyframes aRight{
	0%{
		width: 50vw;
		height: 100vw;
		left: -100vw;
		top: 55vh;
		margin-top: -50vw;
	}
	100%{
		width: 50vw;
		height: 100vw;
		left: -40vw;
		top: 55vh;
		margin-top: -50vw;
	}
}

/* B右移 放大 */
.b-right{
	-webkit-animation: bRight 1s ease 0s 1 normal;
		 -o-animation: bRight 1s ease 0s 1 normal;
			animation: bRight 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes bRight{
	0%{
		width: 50vw;
		height: 100vw;
		left: -40vw;
		top: 55vh;
		margin-top: -50vw;
	}
	100%{
		width: 60vw;
		height: 120vw;
		left: 20vw;
		top: 55vh;
		margin-top: -60vw;
	}
}

/* C右移 缩小 */
.c-right{
	-webkit-animation: cRight 1s ease 0s 1 normal;
		 -o-animation: cRight 1s ease 0s 1 normal;
			animation: cRight 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes cRight{
	0%{
		width: 60vw;
		height: 120vw;
		left: 20vw;
		top: 55vh;
		margin-top: -60vw;
	}
	100%{
		width: 50vw;
		height: 100vw;
		left: 90vw;
		top: 55vh;
		margin-top: -50vw;
	}
}

/* D右移 */
.d-right{
	-webkit-animation: dRight 1s ease 0s 1 normal;
		 -o-animation: dRight 1s ease 0s 1 normal;
			animation: dRight 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes dRight{
	0%{
		width: 50vw;
		height: 100vw;
		left: 90vw;
		top: 55vh;
		margin-top: -50vw;
	}
	100%{
		width: 50vw;
		height: 100vw;
		left: 150vw;
		top: 55vh;
		margin-top: -50vw;
	}
}


.c .pic-info{
	-webkit-animation: picInfoApperAnimation 1s ease 0s 1 normal;
		 -o-animation: picInfoApperAnimation 1s ease 0s 1 normal;
			animation: picInfoApperAnimation 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes picInfoApperAnimation{
	0%{}
	100%{
		bottom: 0;
	}
}
.b .pic-info,.d .pic-info{
	-webkit-animation: picInfoDisappearAnimation 1s ease 0s 1 normal;
		 -o-animation: picInfoDisappearAnimation 1s ease 0s 1 normal;
			animation: picInfoDisappearAnimation 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes picInfoDisappearAnimation{
	0%{
		bottom: 0;
	}
	100%{
		bottom: -100%;
	}
}
.play .page3-bg-show{
	-webkit-animation: page3BgShow 1.2s ease 0s 1 normal;
		 -o-animation: page3BgShow 1.2s ease 0s 1 normal;
			animation: page3BgShow 1.2s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page3BgShow{
	0%{}
	100%{
		top: 0;
	}
}
.play .title{
	-webkit-animation: page3Title 1s ease 0s 1 normal;
		 -o-animation: page3Title 1s ease 0s 1 normal;
			animation: page3Title 1s ease 0s 1 normal;
	-webkit-animation-fill-mode : forwards;
 		 -o-animation-fill-mode : forwards;
 		 	animation-fill-mode : forwards;
}
@keyframes page3Title{
	0%{}
	100%{
		top: 55vh;
	}
}